<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #payment{
            height: 700px;
            width: 100%;
            background-color: rgba(2, 151, 2, 0.649);
            color: white;
            font-family: sans-serif;
            text-align: center;

        }
        h3{
            padding-top: 50px;
        }
        img{
            height: 30px;
            width: 30px;
        }
    </style>
</head>
<body>
    <div id="payment">
        <h3>Payment Successfully!</h3>
        <img src="https://cdn-icons-png.flaticon.com/512/190/190411.png" alt="">
    </div>
</body>
</html>